*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 0;
    padding: 10px;
}

.layout{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    "header header"
    "sidebar sketchpad";
}

.header{
    grid-area: header;
    /* place-self: center; */
}

.sidebar{
    grid-area: sidebar;
    /* place-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar>button{
    margin: 20px;
}

.sketchpad{
    grid-area: sketchpad;
    place-self: center;
    height: 600px;
    width: 600px;
    display: grid;
    /* grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr); */
}

.pixel{
    border: 1px solid lightgrey;
    height: 1fr;
}

.pixel:hover{
    background-color: lightpink;
}